<div class="row">
    <div class="col-lg-5 form-group form-inline">
        <label for="location">Välj plats:</label>
        <select id="location" class="form-control" ng-model="location" ng-change="changeLocation()">
            <option value="campus-nkpg">Campus Norrköping</option>
            <option value="campus-valla">Campus Valla</option>
        </select>
    </div>

    <div class="hidden-xs hidden-sm hidden-md col-lg-12" >
        <h1>Väder för {{weatherData.name}}</h1>
    </div>
    <div class="visible-xs col-lg-12" align="center" >
        <h3>Väder för {{weatherData.name}}</h3>
    </div>

    <div class="visible-sm col-lg-12" align="center" >
        <h3>Väder för {{weatherData.name}}</h3>
    </div>

    <div class="visible-md col-lg-12" align="center" >
        <h2>Väder för {{weatherData.name}}</h2>
    </div>



    <div class=" col-lg-3">
        <div class="btn btn-default" ng-class="{'active': forecast.day == currentForecast.day}" style="display: block; padding: 20px; margin: 10px" ng-repeat="forecast in weatherData.forecast" ng-click="showForecastDetails(forecast)">
            {{forecast.day +" " + forecast.temperature + "&#8451;"}}
        </div>
    </div>
    <div class="col-lg-9" ng-if="currentForecast">
        <forecast-details forecast="currentForecast"></forecast-details>
    </div>
</div>