h1{
	font-size: 8vw;
	font-family: "Agency FB";
	text-align: center;
	margin: 4vw 0;
	color: grey;
}

#achievementButton{
	position: relative;
	width: 70vw;
	height: 18vw;
	margin: 10vh 15vw 0;
	background-color: rgb(240,240,240);
	border-radius: 5px;
	border: 15px solid grey;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

#container{
	height: 100vh;
	width: 100vw;
	background-color: rgb(240,240,240);
}