body{
	margin: 0;
	background-color: rgb(245,245,245);
}

#percentage{
	font-family: "Agency FB";
	text-align: center;
	color: grey;
	margin: 0;
	font-weight: bold;
	font-size: 8vw;
}

#missionTextButton{
	font-family: "Agency FB";
	text-align: center;
	color: grey; 
	margin: 0 !important;
	font-weight: bold;
	font-size: 10vw;
}

.btn-default{
	position: relative;
	width: 70vw;
	height: 18vw;
	margin: 8vh 14vw 0;
	background-color: rgb(240,240,240);
	border-radius: 5px;
	border: 6px solid grey;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
	font-family: "Agency FB";
	font-weight: bold;
	font-size: 10vw;
	color: grey;
	padding: 0;
}

#container{
	height: 90vh;
	width: 100vw;
}

#circleExp{
	height:50vh;
	width:100vw;
}

#lowerContainer{
	height: 40vh;
	width: 100vw;
	margin:0;
}

.navbar{
	margin: 0;
}