/* body{
	background-color: #699fc4; 
} */
p{
	font-family: bebas-neue, sans-serif;
	font-size: 6vw;
	color:  #434045;
}
h2{
	font-family: bebas-neue, sans-serif;
	font-size:7vw;
	margin-bottom: 0vw;
	color:  #434045;
}
.navbar{
	background: #f6f7f8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:  #434045;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color:  #434045;
}
.missionfilter{
	position:fixed;
	z-index: 2;
	bottom: 0;
	width: 100vw;
	margin: 0;
	padding: 0;
	border: 0;
}
.filterbutton{
	float:left;
	width: 25vw;
	margin: 0;
	padding: 0;
	border: 0;
}
.container-fluid{
	padding: 0;
	margin: 0;
}
.btn-primary{
	background-color: #f6f7f8;
	color: #ff00cc;
	border-color: #ffffff;
}
.btn-primary:hover{
	background-color: #dfdfdf ;
	color: #ff00cc;
	border-color: #ffffff;
}
.row-fluid{
	margin-top: 18vw;
	margin-bottom: 24vw;
}
.mission{
	overflow: auto;
	margin: 5vw;
	margin-top: 5vw;
	border-radius: 5vw;
	box-shadow:0vw 1.5vw 6vw -1vw #111111;
}
.Daily{
	background-color: #9dbfd6 ;	/*Uppdragsrutan*/
}
.Common{
	background-color: #DAAA99 ;	/*Uppdragsrutan*/
}
.Epic{
	background-color: #C797Ca ;	/*Uppdragsrutan*/
}
.Completed{
	background-color: #E7D198 ;	/*Uppdragsrutan*/
}
body.Daily {
	background-color: #699FC4	!important;	/*Uppdragsrutan*/
}
body.Common{
	background-color: #C97D63	!important; /*Uppdragsrutan*/
}
body.Epic{
	background-color: #B166AD	!important; /*Uppdragsrutan*/
}
body.Completed{
	background-color: #DFBD61	!important; /*Uppdragsrutan*/
}
.titel{
	float:left;
	text-align: center;
	margin-left: 6vw;
	height: auto;
}
.titel p{
	text-align: left;
}
.checkbox{
	float:right;
}
.checkbox button{
	border: none;
	padding: 0px;
	border-radius: 4vw;
	margin: 5vw 4vw 5vw 0vw;
}
.checkbox img{
	height: 15vw;
}
.counter{
	float: right;
	margin: 50px 20px 30px;
	height: auto;
}
.counterbg{
	height: 7vw;
	width: auto;
	background: #D3D3D3;
	border-radius: 2vw;
}
.counterbg img{
	height: 7vw;
	width: auto;
}
.incmin{
	float: left;
}
.incmin button{
	border: none;
	padding: 0px;
	border-radius: 2vw;
}
.countvalue{
	float: left;
	margin: 0vw 1.5vw 0.6vw 1.5vw;
}
.countvalue p{
	margin-bottom: 0;
	font-size: 5vw;
}
.incplus{
	float: right;
}
.incplus button{
	border: none;
	padding: 0px;
	border-radius: 2vw;
}
.gradient{
	position:fixed;
	z-index: 1;
	bottom: 0;
	width: 100vw;
	height: 22vw;
	margin: 0;
	padding: 0;
	border: 0; 
}
.gradient.Daily{
	background: blue; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, #699fc4  , #699fc4, #699fc4 , #699fc4 , #699fc4 , #699fc4 , rgba(71,139,184,0)); 
	background: -webkit-linear-gradient(top, #699fc4  , #699fc4, #699fc4 , #699fc4 , #699fc4 , #699fc4 , rgba(71,139,184,0));
	background: -o-linear-gradient(top, #699fc4  , #699fc4, #699fc4 , #699fc4 , #699fc4 , #699fc4 , rgba(71,139,184,0)); 
	background: -moz-linear-gradient(top, #699fc4  , #699fc4, #699fc4 , #699fc4 , #699fc4 , #699fc4 , rgba(71,139,184,0)); 
	background: linear-gradient(to top, #699fc4  , #699fc4, #699fc4 , #699fc4 , #699fc4 , #699fc4 , rgba(71,139,184,0));
}
.gradient.Common{
	background: orange; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, #C97D63  , #C97D63, #C97D63 , #C97D63 , #C97D63 , #C97D63 , rgba(71,139,184,0)); 
	background: -webkit-linear-gradient(top, #C97D63  , #C97D63, #C97D63 , #C97D63 , #C97D63 , #C97D63 , rgba(71,139,184,0));
	background: -o-linear-gradient(top, #C97D63  , #C97D63, #C97D63 , #C97D63 , #C97D63 , #C97D63 , rgba(71,139,184,0)); 
	background: -moz-linear-gradient(top, #C97D63  , #C97D63, #C97D63 , #C97D63 , #C97D63 , #C97D63 , rgba(71,139,184,0)); 
	background: linear-gradient(to top, #C97D63  , #C97D63, #C97D63 , #C97D63 , #C97D63 , #C97D63 , rgba(71,139,184,0));
}
.gradient.Epic{
	background: purple; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, #B166AD  , #B166AD, #B166AD , #B166AD , #B166AD , #B166AD , rgba(71,139,184,0)); 
	background: -webkit-linear-gradient(top, #B166AD  , #B166AD, #B166AD , #B166AD , #B166AD , #B166AD , rgba(71,139,184,0));
	background: -o-linear-gradient(top, #B166AD  , #B166AD, #B166AD , #B166AD , #B166AD , #B166AD , rgba(71,139,184,0)); 
	background: -moz-linear-gradient(top, #B166AD  , #B166AD, #B166AD , #B166AD , #B166AD , #B166AD , rgba(71,139,184,0)); 
	background: linear-gradient(to top, #B166AD  , #B166AD, #B166AD , #B166AD , #B166AD , #B166AD , rgba(71,139,184,0));
}
.gradient.Completed{
	background: gold; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, #DFBD61  , #DFBD61, #DFBD61 , #DFBD61 , #DFBD61 , #DFBD61 , rgba(71,139,184,0)); 
	background: -webkit-linear-gradient(top, #DFBD61  , #DFBD61, #DFBD61 , #DFBD61 , #DFBD61 , #DFBD61 , rgba(71,139,184,0));
	background: -o-linear-gradient(top, #DFBD61  , #DFBD61, #DFBD61 , #DFBD61 , #DFBD61 , #DFBD61 , rgba(71,139,184,0)); 
	background: -moz-linear-gradient(top, #DFBD61  , #DFBD61, #DFBD61 , #DFBD61 , #DFBD61 , #DFBD61 , rgba(71,139,184,0)); 
	background: linear-gradient(to top, #DFBD61  , #DFBD61, #DFBD61 , #DFBD61 , #DFBD61 , #DFBD61 , rgba(71,139,184,0));
}