body{
	background-color: #699fc4; 
}
p{
	font-family: bebas-neue, sans-serif;
}
h2{
	font-family: bebas-neue, sans-serif;
}
.missionfilter{
	position:fixed;
	z-index: 1;
	bottom: 0px;
	width: 100vw;
	margin: 0;
	padding: 0;
	border: 0;
}
.filterbutton{
	float:left;
	width: 25%;
	margin: 0;
	padding: 0;
	border: 0;
}
.container-fluid{
	padding: 0;
	margin: 0;
}
.btn-primary{
	background-color: #f6f7f8;
	color: #ff00cc;
	border-color: #ffffff;
}
.btn-primary:hover{
	background-color: #dfdfdf ;
	color: #ff00cc;
	border-color: #ffffff;
}
.mission{
	overflow: auto;
	margin: 10px;
	margin-top: 12px;
	background-color: #9dbfd6 ;
	border-radius: 20px;
	box-shadow:0px 5px 15px #778899;
}
.titel{
	float:left;
	text-align: center;
	margin-left: 20px;
}
.checkbox{
	float:right;
}
.checkbox img{
	height: 18vw;
	margin-right: 3vw;
}
.counter{
	float: right;
	margin: 50px 20px 30px;
}
.counterbg{
	overflow: auto;
	background-color: #dfdfdf;
	border-radius: 2vw;
	height: 7vw;
	width: 35vw;
}
.counterbg img{
	height: 7vw;
	width: auto;
}
.incmin{
	float: left;
}
.incmin button{
	border: none;
	padding: 0px;
}
.countvalue{
	float: left;
}
.countvalue p{
	margin-top: auto;
	margin-bottom: auto;
}
.incplus{
	float: right;
}
.incplus button{
	border: none;
	padding: 0px;
}
