body{
	background-color: #699fc4; 
}
.missionfilter{
	position:fixed;
	z-index: 1;
	bottom: 0px;
	width: 100vw;
	margin: 0;
	padding: 0;
	border: 0;
}
.filterbutton{
	float:left;
	width: 25%;
	margin: 0;
	padding: 0;
	border: 0;
}
.container-fluid{
	padding: 0;
	margin: 0;
}
.btn-primary{
	background-color: #f6f7f8;
	color: #ff00cc;
	border-color: #ffffff;
}
.btn-primary:hover{
	background-color: #dfdfdf ;
	color: #ff00cc;
	border-color: #ffffff;
}
.mission{
	overflow: auto;
	margin: 10px;
	background-color: #9dbfd6 ;
	border-radius: 20px;
	box-shadow:0px 5px 15px #778899;
}
.titel{
	float:left;
	text-align: center;
}
.checkbox{
	float:right;
}
.counter{
	float: right;
}
.incmin{
	float: left;
}
.countvalue{
	float: left;
}
.incplus{
	float: left;
}
